<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/Css/style.css" />
	<link rel="stylesheet" href="{$smarty.const.PUBLIC_URL}/Css/easyform.css">
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/jquery.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/bootstrap.js"></script>
	<script src="{$smarty.const.PUBLIC_URL}/Js/easyform.js"></script>
 

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form action="{$smarty.const.__MODULE__}/Reader/add" method="post" class="definewidth m20" id="form1">
<table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">登录名</td>
            <td><input id="uid" type="text" name="uid" data-easyform="length:1 12;char-normal;real-time;" data-message="不能为空" data-easytip="disappear:lost-focus;theme:blue;"></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">姓名</td>
            <td><input id="reader_name" type="text" name="reader_name" data-easyform="length:1 12;char-chinese;real-time;" data-message="不能为空" data-easytip="disappear:lost-focus;theme:blue;"/></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">性别</td>
            <td><input id="sex" type="text" name="sex" data-easyform="length:1 12;char-normal;real-time;" data-message="不能为空" data-easytip="disappear:lost-focus;theme:blue;"/></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">家庭住址</td>
            <td><input id="reader_address" type="text" name="reader_address" data-easyform="length:1 12;char-normal;real-time;" data-message="不能为空" data-easytip="disappear:lost-focus;theme:blue;"/></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">身份证号</td>
            <td><input id="reader_idcard" type="text" name="reader_idcard" data-easyform="length:18;number;real-time;" data-message="格式不正确" data-easytip="disappear:lost-focus;theme:blue;"/></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">手机号</td>
            <td><input id="phonenum" type="text" name="phonenum" value="{$info.phonenum}" data-easyform="length:13;email;real-time;" data-message="格式不正确" data-easytip="disappear:lost-focus;theme:blue;"/></td>
        </tr>
        <tr>
            <td class="tableleft">邮箱</td>
            <td><input id="email" type="text" name="email" data-easyform="email;real-time;" data-message="格式不正确" data-easytip="disappear:lost-focus;theme:blue;"/></td>
        </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
$(document).ready(function(){
		
	var $uid = $('#uid'),
		$reader_name = $('#reader_name'),
		$sex = $('#sex'),
		$reader_address = $('#reader_address'),
		$reader_idcard = $('#reader_idcard'),
		$phonenum = $('#phonenum'),
		$email = $('#email');
	var ef = $('#form1').easyform();
	$('#form1')[0].onsubmit = function () { return false };
	$('#subbtn')[0].onclick = function () {
		$reader_name.trigger('blur');
		$sex('blur');
		$reader_address.trigger('blur');
		$reader_idcard.trigger('blur');
		$phonenum.trigger('blur');
		$email.trigger('blur');
		$uid.trigger('blur');
		if($uid.val().length == 0) {
			$uid.trigger('blur');
			return;
		}
		if($reader_name.val().length == 0) {
			$reader_name.trigger('blur');
			return;
		}
		if($reader_idcard.val().length <= 18) {
			$reader_idcard.trigger('blur');
			return;
		}
		if($sex.val().length == 0) {
			$sex.trigger('blur');
			return;
		}
		if($reader_address.val().length == 0) {
			$reader_address.trigger('blur');
			return;
		}
		if($phonenum.val().length <= 13) {
			$phonenum.trigger('blur');
			return;
		}
		if($email.val().length == 0) {
			$email.trigger('blur');
			return;
		}
		$('#form1')[0].submit();
	};
});
</script>