<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/Css/style.css" />
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/jquery.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/bootstrap.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/ckform.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/common.js"></script>

 

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form action="{$smarty.const.__SELF__}" method="post" class="definewidth m20">
<input type="hidden" name="reader_id" value="{$info.reader_id}" />

    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">登录名</td>
            <td><input type="text" name="uid" value="{$info.uid}"/></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">姓名</td>
            <td><input type="text" name="reader_name" value="{$info.reader_name}"/></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">性别</td>
            <td><input type="text" name="sex" value="{$info.sex}"/></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">家庭住址</td>
            <td><input type="text" name="reader_address" value="{$info.reader_address}"/></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">身份证号</td>
            <td><input type="text" name="reader_idcard" value="{$info.reader_idcard}"/></td>
        </tr>
		<tr>
            <td width="10%" class="tableleft">手机号</td>
            <td><input type="text" name="phonenum" value="{$info.phonenum}"/></td>
        </tr>
        <tr>
            <td class="tableleft">邮箱</td>
            <td><input type="text" name="reader_email" value="{$info.reader_email}"/></td>
        </tr>

        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
<script>
   
</script>