<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>读后感详情</title>
		<link rel="stylesheet" href="../pub-ui/css/pc-common.css" />
		<link rel="stylesheet" href="../pub-ui/asset/css/bootstrap.css" />
		<link rel="stylesheet" href="../pub-ui/css/main.css" />
	</head>
	<body>
		<!--<header></header>-->
		<h3>阅读是你更快乐</h3>
		<ul class="header-nav tc fwb">
			<li class="active"><a href="">首页</a></li>
			<li><a href="center.html">个人中心</a></li>
			<li><a href="book-search.html">图书搜索</a></li>
			<li><a href="reader.html">读后感</a></li>
			<li><a href="aboutus.html">关于我们</a></li>
		</ul>
		<div class="read-content pdl-30 pdr-30 pdb-30 mgt-20 radius">
			<h3>读后感赏析</h3>
			<div class="read-search clearfix">
	            <div class="input-group fr">
	                <input type="text" class="form-control">
	                <span class="input-group-btn">
	                    <button class="btn btn-primary" type="button">搜索</button>
	                </span>
	            </div>
	        </div>
	        <table class="table table-hover tc mgt-20">
	        	<thead>
	        		<tr>
	        			<th class="tc fwb">标题</th>
		        		<th class="tc fwb">作者</th>
		        		<th class="tc fwb">相关书籍</th>
		        		<th class="tc fwb">发表时间</th>
	        		</tr>
	        	</thead>
	        	<tr>
	        		<td>1231231</td>
	        		<td>李二狗子</td>
	        		<td>金瓶梅</td>
	        		<td>2012,12,12</td>
	        	</tr>
	        	<tr>
	        		<td>1231231</td>
	        		<td>李二狗子</td>
	        		<td>金瓶梅</td>
	        		<td>2012,12,12</td>
	        	</tr>
	        	<tr>
	        		<td>1231231</td>
	        		<td>李二狗子</td>
	        		<td>金瓶梅</td>
	        		<td>2012,12,12</td>
	        	</tr>
	        	<tr>
	        		<td>1231231</td>
	        		<td>李二狗子</td>
	        		<td>金瓶梅</td>
	        		<td>2012,12,12</td>
	        	</tr>
	        	<tr>
	        		<td>1231231</td>
	        		<td>李二狗子</td>
	        		<td>金瓶梅</td>
	        		<td>2012,12,12</td>
	        	</tr>
	        	<tr>
	        		<td>1231231</td>
	        		<td>李二狗子</td>
	        		<td>金瓶梅</td>
	        		<td>2012,12,12</td>
	        	</tr>
	        	<tr>
	        		<td>1231231</td>
	        		<td>李二狗子</td>
	        		<td>金瓶梅</td>
	        		<td>2012,12,12</td>
	        	</tr>
	        	<tr>
	        		<td>1231231</td>
	        		<td>李二狗子</td>
	        		<td>金瓶梅</td>
	        		<td>2012,12,12</td>
	        	</tr>
	        </table>
	        <div class="clearfix">
	        	<ul class="pagination pull-right">
					<li class="previous"><a href="javascript:;">&laquo;</a></li>
					<li class="active"><a href="javascript:;">1</a></li>
					<li><a href="javascript:;">2</a></li>
					<li><a href="javascript:;">3</a></li>
					<li><a href="javascript:;">4</a></li>
					<li><a href="javascript:;">5</a></li>
					<li class="next"><a hhref="javascript:;">&raquo;</a></li>
				</ul>
	        </div>
		</div>
		<hr>
		<p class="tc">&copy;三峡枫叶图书馆<a href="#" class="mgl-10 mgr-10">关于我们</a>联系电话1234567890</p>
		<script type="text/javascript" src="../pub-ui/js/jquery.min.js" ></script>
		<script type="text/javascript" src="../pub-ui/asset/js/bootstrap.min.js" ></script>
	</body>
</html>
