<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>读后感</title>
		<link rel="stylesheet" href="../pub-ui/css/pc-common.css" />
		<link rel="stylesheet" href="../pub-ui/asset/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../pub-ui/css/main.css" />
	</head>
	<body>
		<h3>阅读是你更快乐</h3>
		<ul class="header-nav tc fwb">
			<li><a href="index.html">首页</a></li>
			<li><a href="center.html">个人中心</a></li>
			<li><a href="book-search.html">图书搜索</a></li>
			<li class="active"><a href="javascript:;">读后感</a></li>
			<li><a href="aboutus.html">关于我们</a></li>
		</ul>
		<hr />
		<!--主体-->
		<div class="reader-content mgb-30">
			<div class="reader-info pd-20">
				<img src="../pub-ui/img/2.png" class="reader-img block mgb-20" alt="touxiang"/>
				<p>id：<span class="reader-id">李二狗</span></p>
				<p>文章数&nbsp;<span class="reader-text">88</span></p>
			</div>
			<div class="reader-article pd-20">
				<p>发表于&nbsp;&nbsp;<span class="public-time">XXXXXXXXXXX</span></p>
				<h4>文章名</h4>
				<p class="ti-2">我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪</p>
				<p class="ti-2">我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪</p>
				<p class="ti-2">我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪</p>
				<p class="ti-2">我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪我的儿子叫二狗二狗二狗二姑二姑说的话看手机hi无额而发护额无话可说加快速度黄金矿工就开始看似简单规范健康和发动机法规及空间还记得复核人我得 我的天哪</p>
			</div>
		</div>
		<!--主体-->
		<hr>
		<p class="tc">&copy;三峡枫叶图书馆<a href="#" class="mgl-10 mgr-10">关于我们</a>联系电话1234567890</p>
		<script type="text/javascript" src="../pub-ui/js/jquery.min.js" ></script>
		<script type="text/javascript" src="../pub-ui/asset/js/bootstrap.min.js" ></script>
		<script>			
		</script>
	</body>
</html>
