<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/Css/style.css" />
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/jquery.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/bootstrap.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/ckform.js"></script>
    <script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/common.js"></script>
	<script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/Js/layer.js"></script>
 

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="{$smarty.const.__MODULE__/System/demo}" method="post" id="demo">    
    用户名称：
    <input type="text" name="book_name" id="book_name"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; <button type="button" class="btn btn-success" id="addnew">新增用户</button>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>图书编号</th>
        <th>图书名称</th>
        <th>图书分类</th>
        <th>出版社</th>
        <th>图书简介</th>
		<th>当前数目</th>
		<th>操作</th>
    </tr>
    </thead>
	{if $info neq 0}
	{foreach $info as $k => $v}
	     <tr>
            <td>{$v.book_id}</td>
            <td>{$v.book_name}</td>
            <td>{$v.book_type}</td>
            <td>{$v.press}</td>
			<td>{$v.book_detail}</td>
			<td>{$v.create_time}</td>
			<td>{$v.finish_time}</td>
            <td >
                <a href="{$smarty.const.__MODULE__}/System/edit/book_id/{$v.book_id}" type="button" class="edit_btn btn btn-primary" data-toggle="modal" id="edit_btn1" value="php">编辑</a>
				<a href="edit.html" type="button" class="btn btn-error">删除</a>                
            </td>
        </tr>
	{/foreach} 
	{else}
	<tr><td>暂无数据</td><tr>
	{/if}
	
</table>
<div class="pagination">
  <!--ul>
    <li><a href="#">前一页</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">下一页</a></li>
  </ul-->
  <ul>
  {$pagelist}
  </ul>
</div>


</body>
</html>
<script>
    $(function () {
        

		$('#addnew').click(function(){

				window.location.href="add.html";
		 });


    });
 
	function del(id)
	{
		
		
		if(confirm("确定要删除吗？"))
		{
		
			var url = "index.html";
			
			window.location.href=url;		
		
		}
	}
	$('#edit_btn1').click(function(){
		$('#myModal').show();
	});

</script>