<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>个人中心</title>
		<link rel="stylesheet" href="../pub-ui/css/pc-common.css" />
		<link rel="stylesheet" href="../pub-ui/asset/css/bootstrap.css" />
		<link rel="stylesheet" href="../pub-ui/css/main.css" />
	</head>
	<body>
		<!--<header></header>-->
		<h3>阅读是你更快乐</h3>
		<ul class="header-nav tc fwb">
			<li><a href="index.html">首页</a></li>
			<li class="active"><a href="JavaScript:;">个人中心</a></li>
			<li><a href="book-search.html">图书搜索</a></li>
			<li><a href="reader.html">读后感</a></li>
			<li><a href="aboutus.html">关于我们</a></li>
		</ul>
		<div class="center-content pdl-10 pdr-30 pdb-30 mgt-20 radius">
			<div class="reader-info pdt-10 noborder">
				<img src="../pub-ui/img/2.png" class="reader-img block mgb-20" alt="touxiang"/>
				<p>id：<span class="reader-id">李二狗</span></p>
				<p>上次登录时间:&nbsp;<span class="reader-text">2015-12-22</span></p>
				<ul class="center-list radius mgt-40">
					<li class="active">我的信息</li>
					<li>我的借阅</li>
					<li>我的文章</li>
					<li>修改密码</li>
				</ul>
			</div>
			<div class="center-box vt">
				<div class="read-search clearfix mgt-40 mgb-40">
		            <div class="input-group fr">
		                <input type="text" class="form-control">
		                <span class="input-group-btn">
		                    <button class="btn btn-primary" type="button">搜索</button>
		                </span>
		            </div>
		        </div>
		        <div class="wrapper pd-30">
			        <div class="center-info">
			        	<table class="table table-hover tc mgt-20">
				        	<thead>
				        		<tr>
				        			<th class="tc fwb">图书编号</th>
					        		<th class="tc fwb">图书名称</th>
					        		<th class="tc fwb">分类</th>
					        		<th class="tc fwb">作者</th>
					        		<th class="tc fwb">价格</th>
					        		<th class="tc fwb">总数量</th>
					        		<th class="tc fwb">在馆数量</th>
					        		<th class="tc fwb">上架时间</th>
				        		</tr>
				        	</thead>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        </table>
				        <div class="clearfix">
				        	<ul class="pagination pull-right">
								<li class="previous"><a href="javascript:;">&laquo;</a></li>
								<li class="active"><a href="javascript:;">1</a></li>
								<li><a href="javascript:;">2</a></li>
								<li><a href="javascript:;">3</a></li>
								<li><a href="javascript:;">4</a></li>
								<li><a href="javascript:;">5</a></li>
								<li class="next"><a hhref="javascript:;">&raquo;</a></li>
							</ul>
				        </div>
			        </div>
			        <div class="center-info">
			        	<table class="table table-hover tc mgt-20">
				        	<thead>
				        		<tr>
				        			<th class="tc fwb">图书编号</th>
					        		<th class="tc fwb">图书名称</th>
					        		<th class="tc fwb">分类</th>
					        		<th class="tc fwb">作者</th>
					        		<th class="tc fwb">价格</th>
					        		<th class="tc fwb">总数量</th>
					        		<th class="tc fwb">在馆数量</th>
					        		<th class="tc fwb">上架时间</th>
				        		</tr>
				        	</thead>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        </table>
				        <div class="clearfix">
				        	<ul class="pagination pull-right">
								<li class="previous"><a href="javascript:;">&laquo;</a></li>
								<li class="active"><a href="javascript:;">1</a></li>
								<li><a href="javascript:;">2</a></li>
								<li><a href="javascript:;">3</a></li>
								<li><a href="javascript:;">4</a></li>
								<li><a href="javascript:;">5</a></li>
								<li class="next"><a hhref="javascript:;">&raquo;</a></li>
							</ul>
				        </div>
			        </div>
			        <div class="center-info">
			        	<table class="table table-hover tc mgt-20">
				        	<thead>
				        		<tr>
				        			<th class="tc fwb">图书编号</th>
					        		<th class="tc fwb">图书名称</th>
					        		<th class="tc fwb">分类</th>
					        		<th class="tc fwb">作者</th>
					        		<th class="tc fwb">价格</th>
					        		<th class="tc fwb">总数量</th>
					        		<th class="tc fwb">在馆数量</th>
					        		<th class="tc fwb">上架时间</th>
				        		</tr>
				        	</thead>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        </table>
				        <div class="clearfix">
				        	<ul class="pagination pull-right">
								<li class="previous"><a href="javascript:;">&laquo;</a></li>
								<li class="active"><a href="javascript:;">1</a></li>
								<li><a href="javascript:;">2</a></li>
								<li><a href="javascript:;">3</a></li>
								<li><a href="javascript:;">4</a></li>
								<li><a href="javascript:;">5</a></li>
								<li class="next"><a hhref="javascript:;">&raquo;</a></li>
							</ul>
				        </div>
			        </div>
			        <div class="center-info">
			        	<table class="table table-hover tc mgt-20">
				        	<thead>
				        		<tr>
				        			<th class="tc fwb">图书编号</th>
					        		<th class="tc fwb">图书名称</th>
					        		<th class="tc fwb">分类</th>
					        		<th class="tc fwb">作者</th>
					        		<th class="tc fwb">价格</th>
					        		<th class="tc fwb">总数量</th>
					        		<th class="tc fwb">在馆数量</th>
					        		<th class="tc fwb">上架时间</th>
				        		</tr>
				        	</thead>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	<tr>
				        		<td>1231231</td>
				        		<td>金瓶梅</td>
				        		<td>111</td>
				        		<td>李二狗子</td>
				        		<td>22.2</td>
				        		<td>333</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        </table>
				        <div class="clearfix">
				        	<ul class="pagination pull-right">
								<li class="previous"><a href="javascript:;">&laquo;</a></li>
								<li class="active"><a href="javascript:;">1</a></li>
								<li><a href="javascript:;">2</a></li>
								<li><a href="javascript:;">3</a></li>
								<li><a href="javascript:;">4</a></li>
								<li><a href="javascript:;">5</a></li>
								<li class="next"><a hhref="javascript:;">&raquo;</a></li>
							</ul>
				        </div>
			        </div>
			    </div>
			</div>
		</div>
		<hr>
		<p class="tc">&copy;三峡枫叶图书馆<a href="#" class="mgl-10 mgr-10">关于我们</a>联系电话1234567890</p>
		<script type="text/javascript" src="../pub-ui/js/jquery.min.js" ></script>
		<script type="text/javascript" src="../pub-ui/js/ui.js" ></script>
		<script type="text/javascript" src="../pub-ui/asset/js/bootstrap.min.js" ></script>
	</body>
</html>
