<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>个人中心</title>
		<link rel="stylesheet" href="{$smarty.const.HOME_URL}/pub-ui/css/pc-common.css" />
		<link rel="stylesheet" href="{$smarty.const.HOME_URL}/pub-ui/asset/css/bootstrap.css" />
		<link rel="stylesheet" href="{$smarty.const.HOME_URL}/pub-ui/css/main.css" />
	</head>
	<body>
		<!--<header></header>-->
		<h3>阅读是你更快乐</h3>
		<ul class="header-nav tc fwb">
			<li><a href="{$smarty.const.__MODULE__}/Index/index">首页</a></li>
			<li class="active"><a href="JavaScript:;">个人中心</a></li>
			<li><a href="{$smarty.const.__MODULE__}/Book/booksearch">图书搜索</a></li>
			<li><a href="{$smarty.const.__MODULE__}/Article/read_after">读后感</a></li>
			<li><a href="{$smarty.const.__MODULE__}/About/aboutus">关于我们</a></li>
		</ul>
		<div class="center-content pdl-10 pdr-30 pdb-30 mgt-20 radius">
			<div class="reader-info pdt-10 noborder">
				<img src="{$smarty.const.HOME_URL}/pub-ui/img/2.png" class="reader-img block mgb-20" alt="touxiang"/>
				{foreach $readerinfo as $k=>$v}
				<p>id：<span class="reader-id">{$v.reader_name}</span></p>
				<p>上次登录时间:&nbsp;<span class="reader-text">{$v.create_time}</span></p>
				<ul class="center-list radius mgt-40">
					<li class="active">我的信息</li>
					<li>我的借阅</li>
					<li>我的文章</li>
					<a type="button" class="btn btn-success" href ="{$smarty.const.__MODULE__}/Center/editpwd/reader_id/{$v.reader_id}">修改密码</a>
					<a type="button" class="btn btn-success" href ="{$smarty.const.__MODULE__}/Center/editarticle/uid/{$v.uid}">发表文章</a>
				</ul>
				{/foreach}
			</div>
			<div class="center-box vt">
				<div class="read-search clearfix mgt-40 mgb-40">
		            <div class="input-group fr">
		                <input type="text" class="form-control">
		                <span class="input-group-btn">
		                    <button class="btn btn-primary" type="button">搜索</button>
		                </span>
		            </div>
		        </div>
		        <div class="wrapper pd-30">
			        <div class="center-info">
			        	<table class="table mgt-20 ">
								{foreach $readerinfo as $k => $v}
				        		<tr>
				        			<td class=" fwb tableleft">读者编号:{$v.reader_id}</td>
				        		</tr>
								<tr>
									<td class=" fwb tableleft">登录名:{$v.uid}</td>	
								</tr>
								<tr>
									<td class=" fwb tableleft">姓名:{$v.reader_name}</td>
								</tr>
								<tr>
									<td class=" fwb tableleft">性别:{$v.sex}</td>
								</tr>
								<tr>
									<td class=" fwb tableleft">家庭地址:{$v.reader_address}</td>
								</tr>
								<tr>
									<td class=" fwb tableleft">电子邮箱:{$v.reader_email}</td>
								</tr>
								<tr>
									<td class=" fwb tableleft">身份证号:{$v.reader_idcard}</td>
								</tr>
								<tr>
									<td class=" fwb tableleft">可借图书总数:{$v.total_amount}</td>
								</tr>
								<tr>
									<td class=" fwb tableleft">已借图书数:{$v.now_amount}</td>
								</tr>
								<tr>
									<td class=" fwb tableleft">上次登录时间:{$v.create_time}</td>
								</tr>
								{/foreach}
				        	
				        	
				        </table>
				        <!--div class="clearfix">
				        	<ul class="pagination pull-right">
								<li class="previous"><a href="javascript:;">&laquo;</a></li>
								<li class="active"><a href="javascript:;">1</a></li>
								<li><a href="javascript:;">2</a></li>
								<li><a href="javascript:;">3</a></li>
								<li><a href="javascript:;">4</a></li>
								<li><a href="javascript:;">5</a></li>
								<li class="next"><a hhref="javascript:;">&raquo;</a></li>
							</ul>
				        </div-->
			        </div>
			        <div class="center-info">
			        	<table class="table table-hover tc mgt-20">
				        	<thead>
				        		<tr>
				        			<th class="tc fwb">图书编号</th>
					        		<th class="tc fwb">图书名称</th>
					        		<th class="tc fwb">分类</th>
					        		<th class="tc fwb">作者</th>
					        		<th class="tc fwb">价格</th>
					        		<th class="tc fwb">总数量</th>
					        		<th class="tc fwb">在馆数量</th>
					        		<th class="tc fwb">借阅时间</th>
				        		</tr>
				        	</thead>
							{foreach $borrowinfo as $k => $v}
				        	<tr>
							
				        		<td>{$v.book_id}</td>
				        		<td>{$v.book_name}</td>
				        		<td>{$v.book_type}</td>
				        		<td>{$v.uname}</td>
				        		<td>{$v.uname}</td>
				        		<td>{$v.uname}</td>
				        		<td>111</td>
				        		<td>2012-12-12</td>
				        	</tr>
				        	{/foreach}
				        </table>
				        <div class="clearfix">
				        	<ul class="pagination pull-right">
								<li class="previous"><a href="javascript:;">&laquo;</a></li>
								<li class="active"><a href="javascript:;">1</a></li>
								<li><a href="javascript:;">2</a></li>
								<li><a href="javascript:;">3</a></li>
								<li><a href="javascript:;">4</a></li>
								<li><a href="javascript:;">5</a></li>
								<li class="next"><a hhref="javascript:;">&raquo;</a></li>
							</ul>
				        </div>
			        </div>
			        <div class="center-info">
			        	<table class="table table-hover tc mgt-20">
				        	<thead>
							
				        		<tr>
				        			
					        		<th class="tc fwb">文章标题</th>
					        		
					        		<th class="tc fwb">作者</th>
					        		<th class="tc fwb">创建时间</th>
					        		
				        		</tr>
				        	</thead>
							{foreach $articleinfo as $k => $v}
				        	<tr>
				        		<td>{$v.title}</td>
				        		<td>{$v.author}</td>
				        		<td>{$v.create_time}</td>
				        		
				        	</tr>
				        	{/foreach}
				        </table>
				        <div class="clearfix">
				        	<ul class="pagination pull-right">
								<li class="previous"><a href="javascript:;">&laquo;</a></li>
								<li class="active"><a href="javascript:;">1</a></li>
								<li><a href="javascript:;">2</a></li>
								<li><a href="javascript:;">3</a></li>
								<li><a href="javascript:;">4</a></li>
								<li><a href="javascript:;">5</a></li>
								<li class="next"><a hhref="javascript:;">&raquo;</a></li>
							</ul>
				        </div>
			        </div>
			        <div class="center-info" href ="{$smarty.const.__MODULE__}/Center/editpwd">
			        	
			        </div>
			    </div>
			</div>
		</div>
		<hr>
		<p class="tc">&copy;三峡枫叶图书馆<a href="#" class="mgl-10 mgr-10">关于我们</a>联系电话1234567890</p>
		<script type="text/javascript" src="{$smarty.const.HOME_URL}/pub-ui/js/jquery.min.js" ></script>
		<script type="text/javascript" src="{$smarty.const.HOME_URL}/pub-ui/js/ui.js" ></script>
		<script type="text/javascript" src="{$smarty.const.HOME_URL}/pub-ui/asset/js/bootstrap.min.js" ></script>
	</body>
</html>
